@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');

html {
}

body {
  font-family: 'Assistant', sans-serif;
  margin: auto;
  display: flex;
  flex-direction: row;
}

body > #sidebar {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  border-right: white;
  border: 2px;
}

#page-title-container {
  font-family: 'Knewave';
  width: 27vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-title {
  font-size: 40px;
  margin-top: 70px;
  width: 100%;
  text-align: center;
  text-shadow: 5px 5px #27333d;
}

body > #sidebar > #socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#sidebar-fixed {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  position: fixed;
  top: 13vw;
  width: 27vw;
}
  
#controls {
  background: #d5d9d4;
  width: 75%;
  font-size: 14px;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  border-radius: 5px;
  position:relative;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
  font-weight: 600;
}

span:nth-child(2) {
  margin-left: 20px;
}

#country-info {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  text-shadow: 1px 1px 1px #ffffff;
}

#country-info > div#country-name {
  font-weight: bold;
  font-size: 30px;
}

svg {
  background: rgb(249, 247, 237);
  border-top: solid 2px #485d6f;
}

circle {
  stroke: white;
  stroke-width: 1;
}

.continent-key-element text {
  fill: white;
}

div#user-carbon-input-box {
  width: 27vw;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

div#user-carbon-input-box > label {
  padding-top: 5px;
  padding-bottom: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

button {
  width: 120px;
  background-color: #dadad8;
  border: none;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #485d6f;
  font-weight:bold;
  cursor: pointer;
}

input[type="range"] {
  width: 95%;
}

#household-size-labels, #household-income-labels {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
}

.slider-tick-container {
  cursor: pointer;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#bubble-chart {
  display: flex;
  justify-content: center;
  position: relative;
}

#user-carbon {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  flex-direction: row;
}

#user-carbon-input {
  display: flex;
  flex-direction: column;
  margin: 0% 0%;
}

form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#controls > div {
  display: flex;
  flex-direction: column;
  margin: 15px 15px;
  color: black;
}

#user-carbon-graph rect {
  stroke: white;
  stroke-width: 2;
}

#user-carbon-graph rect#hidden {
  stroke-width: 0;
}

#bubble-chart > svg {
  background: rgb(249, 247, 237)
}

#user-carbon-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 60px;

}

#user-carbon-result > span {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-carbon-graph .bubble {
  stroke: black;
  fill: white;
  stroke-width: 1.5px

}

#sidebar, #sidebar-fixed {
  background: #485d6f;
  color: white;
}

.result-category {
  margin-bottom: 15px;
  font-size: 14px;
}

.CO2-text {
  background:white;
  color: #E26150;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight:bold;
  padding: 5px 10px;
  border: #2d3a46;
  border-radius: 2px;
}

#controls label {
  margin-top: 10px;
}

#step1-instruction-container {
  position: absolute;
  width: 28vw;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  top: 1.5vw;
  left: 70vw;
}

#step2-instruction-container {
  position: absolute;
  width: 28vw;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  top: 835px;
  left: 70vw;
}

.stepX {
  font-family: 'Knewave';
  color: #2d3d49;
  font-size: 40px;
  text-shadow: 2px 2px #e6e6e6;
  width: 20%;
}

.instruction {
  font-family: 'Knewave';
  color: #2d3d49;
  font-size: 20px;
  text-shadow: 1px 1px #e6e6e6;
  width:60%;
}

#user-carbon-result-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 120px;
}

#unit {
  font-size: 10px;
  text-align:left;
}

#check-privilege {
  color:#e64b36;
  font-weight: bold;
  font-style:italic;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 25px solid #d5d9d4;
	border-bottom: 0px solid transparent;
  position: absolute;
  left: 95%;
  top: 65%;
}

.ruler-marker {
  font-size: 15px;
}