html, body {
    font-family: sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  #controls {
    font-size: 18px;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin: 20px 0px;
  }
  
  input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
  }
  
  span:nth-child(2) {
    margin-left: 20px;
  }
  
  #country-info {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 40px;
  }
  
  svg {
    background: #7E8287
  }
  
  circle {
    stroke: white;
    stroke-width: 1;
  }
  
  .continent-key-element text {
    fill: white;
  }

  div#user-carbon-input-box {
    width: 600px;
  }

  div#user-carbon-input-box > label {
    display: block;
    font-size: 20px;
  }

  #calculate {
    width: 100px;
    margin: 10px 20px;
  }

  input[type="range"] {
    width: 100%;
    padding: 20px 0px;
  }

  #household-size-labels, #household-income-labels {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
  }

  .slider-tick-container {
    cursor: pointer;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#bubble-chart {
  display: flex;
  justify-content: center;
}

#user-carbon {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  flex-direction: row;
}

#user-carbon-input {
  display: flex;
  flex-direction: column;
  margin: 0% 0%;
}

form {
  display:flex;
  flex-direction: column;
}

#controls > div {
  display: flex;
  flex-direction: column;
}

.section-heading {
  font-size: 40px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

#user-carbon-graph rect {
  stroke: white;
  stroke-width: 2;
}

#bubble-chart > svg {
  background: rgb(249, 247, 237)
}

#user-carbon-result {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

#user-carbon-result > span {
  margin: auto;
  display: flex;
  flex-direction: row;
}